<div id="mini-nav">
  <ul class="pull-right list-unstyled">
    {{#each item in items}}
      <span class="nav-link">
        <li {{bindAttr id="item.route" class="item.isSelected:selected"}} {{action "click" item}}>
        {{item.name}}
        </li>
      </span>
    {{/each}}
  </ul>
</div>
