#main {
  border-right: 1px solid #898988;
  border-left: 1px solid #898988;
  margin-top:50px;
  min-height:500px;
  -moz-box-shadow:    0px 4px 4px 2px #898988;
  -webkit-box-shadow: 0px 4px 4px 2px #898988;
  box-shadow:         0px 4px 4px 2px #898988;
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:15px;
}

#mini-nav {
  margin-top:80px;
}

#mini-nav li {
  padding: 10px;
  margin:5px;
  background-color: #222222;
}

.nav-link {
  color: #898988;
}

.nav-link:hover {
  color: white !important;
  text-decoration: none;
  cursor:pointer;
}

.selected {
  color: white !important;
}

.stats li {
  margin: 10px;
}

.tag {
  margin:5px;
  background: #e4edf4;
  color: #3e6d8e;
  padding:3px;
}

.tag:hover {
  cursor: pointer;
  background-color: #222222;
  color:white;
}

.selected-tag {
  background-color: #222222 !important;
  color:white !important;
}

.vote-sidebar {
  margin-top:30px;
}

.vote-div {
  margin:20px;
  font-size:1.5em;
}

.question-author-info {
  position:absolute;
  top:20px;
  right: 20px;
}

.question {
  min-height:500px;
}


/* found this idea on css-tricks! */
.upvote {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #898988;
}

.downvote {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-top: 10px solid #898988;
}

.upvote:hover {
  cursor:pointer;
  border-bottom: 10px solid #FF9900 !important;
}

.downvote:hover {
  cursor:pointer;
  border-top: 10px solid #FF9900 !important;
}

.edit {
  color: #898988;
  position:absolute;
  bottom: 20px;
  left: 20px;
}

.save {
  color: #FF9900;
  position:absolute;
  bottom: 20px;
  left: 20px;
}

.delete:hover, .edit:hover, .save:hover {
  cursor:pointer;
  text-decoration:underline;
}

.question-content {
  min-height: 500px;
}

.delete {
  position:absolute;
  bottom: 20px;
  right: 20px;
}
