<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'questions'}}Epicodus Questions{{/link-to}}</li>
      <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
      <li>{{#link-to 'tags'}}Tags{{/link-to}}</li>
    </ul>
  </nav>

{{outlet}}
</div>
