<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'questions'}}Epicodus Questions{{/link-to}}</li>
    </ul>
  </nav>

  {{mini-nav items=navItems currentControllerBinding="controller"}}

  <div id="main" class="col-md-6 col-md-offset-1">
    {{outlet}}
  </div>
</div>
