<div class="row">
  <div class="col-md-2">
    <div class="vote-sidebar text-center">
      <div class="vote-div">
        <span class="vote" {{action "upvote"}}>U</span>
      </div>
      <div class="vote-div">
        {{model.votes}}
      </div>
      <div class="vote-div">
        <span class="vote" {{action "downvote"}}>D</span>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h2 class="page-header">{{model.title}}</h2>

  </div>
</div>
